.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  transition: background 0.5s;

  .container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  .header__header-logo {
    font-size: 32px;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    font-family: "Minecraft";
    display: flex;
    align-items: center;
    gap: 10px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    .header-logo__pickaxe {
      width: 60px;
      height: auto;
      animation: pickaxe-animation 0.8s infinite alternate
        cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }

  .header__header-navigation {
    margin-left: auto;
    margin-right: 150px;

    .header-navigation__header-navigation-list {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 65px;
    }
  }
}

@keyframes pickaxe-animation {
  from {
    transform: none;
  }
  to {
    transform: rotate(10deg);
  }
}

.hero-section__scroll-button {
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }
}
